@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');





.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h1 {
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .panel {
        height: 25vh;
        border-radius: 20px;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6) {
        display: none;
    }
}